<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="CONSOLE_LOG_STRUCTURED_FORMAT" source="logging.structured.format.console" defaultValue="logstash"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
            <format>${CONSOLE_LOG_STRUCTURED_FORMAT}</format>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
